.search {
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
    margin-bottom: 20px;
  }
}
.list {
  display: flex;
  flex-wrap: wrap;
  min-height: 840px;
  justify-content: center;
  margin: 48px 0 0 0;
}
.message {
  font-size: 15px;
  color: #737373;
}
