.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  > h4 {
    margin: 48px 0 10px 0;
    letter-spacing: 1px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  padding: 20px;
  label {
    margin: 24px 0 5px 0;
  }
  input {
    border-bottom: 1px solid #d4d4d4;
    width: 100%;
    padding: 5px;
    &:focus {
      outline: none;
    }
  }
  button {
    background: #e2e8f0;
    padding: 7px;
    border-radius: 4px;
    margin: 40px 0 10px 0;
    &:hover {
      background: #cbd5e1;
    }
  }
  .error {
    border-bottom: 1px solid #ef4444;
  }
}
